#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  box-shadow: 0px 0px 15px #fff;
}
#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
#navbar form {
  display: flex;
  gap: 0.5rem;
}
#navbar input {
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
  animation: pisca 2s infinite;
}
@keyframes pisca {
  0% {
    border: 3px solid transparent;
  }
  50% {
    border: 3px solid purple;
  }
  100% {
    border: 3px solid transparent;
  }
}
#navbar form button {
  background-color: purple;
  border: 2px solid purple;
  border-radius: 4px;
  color: #fff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
#navbar form button:hover {
  background-color: #000;
  color: #fff;
}
